@font-face {
  font-family: cofo-sans-bold;
  src: url("../../fonts/CoFoSans-Bold.ttf");
}

.Chat {
  animation: 2s scale;
  padding: 10vh 150px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .logo {
    position: absolute;
    cursor: pointer;
    top: 50px;
    left: 50px;
    a {
      img {
        animation: 1s rotate;
        height: 35px;
      }
    }
  }
  .titel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    p {
      font-size: 30px;
      margin-bottom: 20px;
      font-family: cofo-sans-bold;
    }
  }
  .section-dialogue {
    padding: 15px 15px 100px;
    height: 75vh;
    width: 1200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    p {
      padding: 10px;
      box-shadow: 7px 7px 11px #e3e3e3, -3px -3px 11px #e3e3e3;
      height: auto;
      border-radius: 20px;
      max-width: 700px;
      width: fit-content;
      font-weight: bold;
      &:nth-child(even) {
        margin: 10px 0px 10px;
      }
      &:nth-child(odd) {
        margin-left: auto;
        background: #d9376e;
        color: #fff;
      }
    }
    .sentance {
      padding: 10px;
      box-shadow: 7px 7px 11px #e3e3e3, -3px -3px 11px #e3e3e3;
      border-radius: 20px;
      max-width: 700px;
      width: fit-content;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .section-dialogue::-webkit-scrollbar{
    display: none;
  }
  .section-input {
    width: 1200px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    position: relative;
    .clear {
      z-index: 2;
      cursor: pointer;
      margin-right: 20px;
      background: #d9376e;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      width: 150px;
      height: 50px;
      padding: 10px;
      color: #fff;
      font-size: 15px;
      border-radius: 50px;
      outline: none;
      transition: 0.3s;
      img {
        z-index: 2;
        margin-right: 10px;
      }
    }
    .clear:hover {
      background: #b42d5a;
    }
    form {
      z-index: 2;
      height: 50px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 7px 7px 11px #e3e3e3, -3px -3px 11px #e3e3e3;
      display: flex;
      textarea {
        width: 1000px;
        resize: none;
        height: auto;
        min-height: 50px;
        outline: none;
        padding: 15px;
        font-size: 16px;
        max-height: 330px;
        border: none;
        background: transparent;
      }
      textarea::placeholder {
        color: #b3b3b3;
      }
      textarea::-webkit-scrollbar {
        width: 0px;
      }
      .submit {
        padding-right: 20px;
        outline: none;
        border: none;
        background: transparent;
        ion-icon {
          cursor: pointer;
          font-size: 20px;
        }
      }
    }
  }
  .section-input::before{
    content: '';
    position: absolute;
    top: 10px;
    left: -50px;
    z-index: 1;
    height: 50px;
    width: 1300px;
    box-shadow: 0px -50px 50px #fff;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1300px) {
  .logo {
    top: 30px !important;
    left: 30px !important;
  }
  .titel {
    p {
      font-size: 20px !important;
    }
  }
  .section-dialogue {
    padding: 30px !important;
    width: 700px !important;
  }
  .section-input {
    justify-content: center !important;
    form {
      textarea {
        width: 600px !important;
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .section-dialogue {
    width: 500px !important;
  }
  .section-input {
    justify-content: center !important;
    form {
      textarea {
        width: 400px !important;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .section-dialogue {
    width: 400px !important;
    p {
      max-width: 300px !important;
    }
  }
  .section-input {
    justify-content: center !important;
    .clear {
      overflow: hidden;
      width: 50px !important;
      img {
        margin-left: 45px !important;
        margin-right: 12.3px !important;
      }
    }
    form {
      textarea {
        width: 250px !important;
      }
    }
  }
}
