@font-face {
  font-family: cofo-sans-bold;
  src: url("../../fonts/CoFoSans-Bold.ttf");
}
.Home {
  animation: 2s scale;
  padding: 10vh 150px 10vh;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  min-width: auto;
  max-width: 1700px;
  overflow: hidden;
  .section_1 {
    .insight {
      height: 86vh;
      section {
        width: 100%;
        position: relative;
        top: 45%;
        transform: translate(0%, -50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          width: 55%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          p {
            font-family: cofo-sans-bold;
            font-size: 60px;
          }
          button {
            margin-top: 10px;
            cursor: pointer;
            background: #ff8e3c;
            border: none;
            font-size: 1.3em;
            padding: 10px 40px;
            outline: none;
            border-radius: 15px;
            transition: 0.3s;
            font-family: cofo-sans-bold;
          }
          button:hover {
            background: #e07b32;
          }
        }
        .right {
          width: 400px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .dialog-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            width: 400px;
            height: auto;
            border: 3px solid #2a2a2a;
            border-radius: 30px;

            p {
              max-width: 250px;
              width: fit-content;
              font-weight: bold;
              padding: 7px;
              border: 3px solid #2a2a2a;
              border-radius: 20px;

              &:nth-child(even) {
                margin: 10px 0px 10px;
                background: #ff8e3c;
              }
              &:nth-child(odd) {
                margin-left: auto;
              }
            }
          }
        }
      }
    }
  }
  .section_2 {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    min-width: auto;
    max-width: 1700px;
    display: flex;
    justify-content: center;
    align-items: center;
    .insight {
      height: 70vh;
      section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .right {
          width: 45%;
          display: flex;
          flex-direction: column;
          p {
            font-family: cofo-sans-bold;
            font-size: 60px;
          }
          button {
            margin-top: 10px;
            cursor: pointer;
            background: #d9376e;
            border: none;
            font-size: 1.3em;
            padding: 10px 40px;
            outline: none;
            border-radius: 15px;
            transition: 0.3s;
            font-family: cofo-sans-bold;
          }
          button:hover {
            background: #b42d5a;
          }
        }
        .left {
          width: 400px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .dialog-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            width: 400px;
            height: auto;
            border: 3px solid #2a2a2a;
            border-radius: 30px;

            p {
              max-width: 250px;
              width: fit-content;
              font-weight: bold;
              padding: 7px;
              border: 3px solid #2a2a2a;
              border-radius: 20px;

              &:nth-child(even) {
                margin: 10px 0px 10px;
                background: #d9376e;
              }
              &:nth-child(odd) {
                margin-left: auto;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes scale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}