@font-face {
    font-family: cofo-sans-bold;
    src: url("../../fonts/CoFoSans-Bold.ttf");
  }

.page-creator {
    overflow: hidden;
    animation: 2s scale;
    padding: 10vh 150px 10vh;
    height: 100vh;
    max-width: 1700px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    .section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .me {
            .titel {
                font-family: cofo-sans-bold;
                font-size: 60px;
                margin-bottom: 20px;
            }
            .para {
                line-height: 30px;
                font-size: 20px;
            }
        }
    }
}
@keyframes scale {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 @media screen and (max-width: 1000px) {
    .page-creator {
        padding: 30px;
        .section {
            text-align: center;
            justify-content: space-around;
            .me {
                .titel {
                    font-size: 40px !important;
                }
            }
        }
    }
 }